$primary: #00C6FF;
$secundary: #0E7794;

* {
  box-sizing: border-box;
}

body {
  background: #000;
  font-weight: lighter;
  font-family: 'Cutive Mono';
  font-size: 16px;
  color: $primary;
  margin: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

h1 {
  padding: 20px;
}

#servers{
  width:100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0px 20px;
}

.server{
  width: 400px;
  border-left: 6px solid $secundary;
  padding: 0px 10px;
  margin-right: 60px;
  display: inline-block;
  vertical-align: top;
  .host {
    font-size: 22px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
  }
  .routes {
    .route{
      border: 1px solid $secundary;
      padding: 5px;
      margin-top: 5px;
      .count {
        float: right;
      }
    }
  }
}
